* {
  box-sizing: border-box;
}

html {
  background: #2c3e50;
  background: -webkit-linear-gradient(to left, #2c3e50, #b6615d);
  background: linear-gradient(to left, #2c3e50, #fd746c);
}

.searchWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

input[type='text'] {
  width: 50%;
  height: 50px;
  font-size: 1.5rem;
  border-radius: 6px;
}

#searchAgain {
  display: none;
  background-color: rgb(68, 68, 157);
  color: white;
  border-radius: 6px;
  font-size: 1.5rem;
  height: 65px;
  cursor: pointer;
}

.movie {
  padding: 20px;
}

.viewMore img {
  text-decoration: none;
  font-size: 25px;

  border-radius: 6px;
  background-color: rgb(68, 68, 157);
  color: white;
  height: 70px;
  width: 100px;
}

.moviePoster:hover {
  cursor: pointer;
}

.noPoster {
  display: flex;
  width: 300px;
  height: 450px;
  background-color: white;
  font-weight: 600;
}

.noPoster:hover {
  cursor: pointer;
}

.noPosterText {
  margin: auto;
}

.posterSummary {
  display: flex;
  width: 300px;
  height: 450px;
  background-color: white;
  font-weight: 600;
}

.posterSummaryText {
  margin: auto;
}

.movieFront {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  gap: 10px;
  padding: 50px 0px 0px 100px;
}

.info,
.imdbRating,
h2 {
  font-size: 1.5rem;
  color: #bab5bd;
}

.movieSumContainer {
  display: flex;
  justify-content: space-evenly;
}

.actorContainer {
  display: flex;
  justify-content: center;
  height: 150px;
}

.actor {
  height: 250px;
  padding: 20px;
}
.actor img {
  border-radius: 6px;
  height: 350px;
  border-radius: 9px;
}

.errorMessage {
  background-color: deeppink;
  color: black;
  font-size: 1.5rem;
  height: 50px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
}
