* {
  box-sizing: border-box;
}

html {
  background: #2c3e50;
  background: -webkit-linear-gradient(to left, #2c3e50, #b6615d);
  background: linear-gradient(to left, #2c3e50, #fd746c);
}

.searchWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

input[type='text'] {
  width: 50%;
  height: 50px;
  font-size: 1.5rem;
  border-radius: 6px;
}

#searchAgain {
  display: none;
  background-color: rgb(68, 68, 157);
  color: white;
  border-radius: 6px;
  font-size: 1.5rem;
  height: 65px;
  cursor: pointer;
}

.info {
  font-size: 1.5rem;
}

.imdbRating {
  font-size: 1.5rem;
}

.viewMore img {
  text-decoration: none;
  font-size: 25px;

  border-radius: 6px;
  background-color: rgb(68, 68, 157);
  color: white;
  height: 70px;
  width: 100px;
}

#poster {
  border-radius: 5px;
}

#poster:hover {
  cursor: pointer;
}

.movieContainer:hover .movie {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}

.movieContainer:hover .movie:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
}

.movie {
  text-align: center;
  color: rgb(31, 22, 22);
  overflow: hidden;
  border: 5px solid black;
  object-fit: fill;
}

.movieFront {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  gap: 10px;
}

.movieBack {
  color: white;
}

.movieSumContainer {
  display: flex;
  justify-content: space-evenly;
}

.actorContainer {
  display: flex;
  justify-content: center;
  height: 150px;
}

.actor {
  height: 250px;
  padding: 20px;
}
.actor img {
  border-radius: 6px;
  height: 350px;
  border-radius: 9px;
}

.errorMessage {
  background-color: deeppink;
  color: black;
  font-size: 1.5rem;
  height: 50px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
}
